{% from "bootstrap5/form.html" import render_form %}

{% extends "base.html" %}

{% block title %}Modifier {{ course.date_liste_course }} — MVP Flask Multiple Table{% endblock %}

{% block content %}
<div class="mb-4">
  <h2>Modifier la liste de course : {{ course.date_liste_course }}</h2>
  <p class="text-muted">Modifiez les champs ci‑dessous puis validez.</p>
</div>

{{ render_form(
    form,
    action=url_for('courses.update_ui', id_course=course.id_course),
    method='POST'
) }}

<a href="{{ url_for('courses.detail', id_course=course.id_course) }}"
   class="btn btn-secondary mt-3">
  ⬅ Retour
</a>
{% endblock %}
